* {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;;
}
ul {
	list-style: none;
}

.rightcontent {
	margin-left: 23%;
	min-width: 670px;
}
/*左侧边栏*/
aside {
	position: fixed;
	background-color: #000;
	height: 100%;
	width: 23%;
	min-width: 200px;
	color: #fff;
}
aside .content {
	width: 80%;
	margin: 0 auto;
	padding-top: 12%;
}
.avatar {
	margin: 0 auto;
}
.avatar img {
	width: 100%;
}
aside p {
	font-size: 22px;
	display: inline-block;
	margin: 20px 0;
}
aside p span {
	display: block;
	font-size: 16px;
	margin-top: 5px;
}
aside ul li {
	height: 30px;
	font-size: 16px;
	color: #D3D3D3;
	cursor: pointer;
	letter-spacing: 3px;
}
aside ul li:hover {
	color: #fff;
}
aside ul .selected:before, aside ul li:hover:before {
	content: "◈";
	color: #fff;
	display: block;
	position: absolute;
	margin-left: -20px;
}
aside h6 {
	margin-top: 40px;
	font-size: 14px;
	font-weight: normal;
	color: #DC4C4C;
}
/*头图部分*/
.title {
	width: 100%;
	height: 800px;
	background: url(../images/pixelMap_small.jpg) no-repeat;
	/*background-attachment: fixed;*/
	background-position: bottom center;
	background-attachment: fixed;
}
.title h3 {
	display: block;
	width: 300px;
	text-align: center;
	position: relative;
	padding-top: 400px;
	margin: 0 auto;
	color: #fff;
	font-size: 40px;/*
	font-weight: normal;*/
}
/*介绍*/
.intro, .photograph, .acg {
	background-color: #F4F4F4;
}
section .wrap {
	padding: 100px;
}
section h6 {
	font-size: 30px;
	font-weight: normal;
}
section p {
	padding-top: 20px;
	line-height: 2;
}
/*前端*/
.front-end span, .acg span {
	font-size: 14px;
	display: block;
	margin-top: 10px;
	text-decoration: underline;
	color: #DC4C4C;
}
.front-end ul {
	overflow: hidden;
	margin-top: 20px;
}
.front-end li {
	display: block;
	height: 100px;
	width: 49%;
	float: left;
	overflow: hidden;
}
.front-end li a {
	display: block;
	text-decoration: none;
	color: #000;
	height: 100px;
	font-size: 20px;
	transition: all 0.5s ease 0s;
}
.front-end li span {
	color: #9B9B9B;
	text-decoration: none;
}
.front-end li:hover > .origin {
	margin-top: -100px;
}
.front-end li a.black {
	background-color: #000;
	color: #fff;
}
.front-end .wrap {
	padding-bottom: 60px;
}
/*摄影*/
.photograph .wrap {
	padding: 0;
}
.movepic {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
	background: url(../images/photo.jpg) no-repeat center center;
	background-attachment: fixed;
}
.movepic .content {
	display: block;
	height: 100%;
	background-color: rgba(0,0,0,0.1450980392156863);
	padding: 100px;
}
.movepic .content h6, .movepic .content p, .movepic .content span {
	color: #fff;
}
.movepic img {
	height: 50%;
	margin-top: 10px;
	transition: all 0.3s ease 0s;
}
.movepic img:hover {
	transform: scale(0.99);
}
.movepic .content span {
	display: block;
	font-weight: bold;
	text-decoration: underline;
}
/*视频*/
.video {
	overflow: hidden;
}
.video ul {
	position: relative;
}
.video li {
	float: left;
	width: 50%;
	overflow: hidden;
	position: relative;
}
.video li img {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}
.video span {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    color: #DC4C4C;
}
.video .wrap {
	padding-bottom: 20px;
}
.video a {
	display: block;
}
.video .hover {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.7);
	padding: 10px 20px;
	box-sizing: border-box;
	transition: all 0.5s ease 0s;
	opacity: 0;
}
.video li:hover .hover {
	opacity: 1;
}
.video .hover h6 {
	color: #fff;
	font-size: 24px;
}
.video .hover p {
	color: #ccc;
	padding: 0;
}
/*ACG*/
.acg ul {
	margin-top: 20px;
	overflow: hidden;
}
.acg li {
	float: left;
	margin-right: 20px;
	width: 240px;
	text-align: center;
	margin-top: 10px;
	transition: all 0.3s ease 0s;
}
.acg li:hover {
	margin-top: 0px;
}
.acg li:last-child {
	margin-right: 0;
}
.acg img {
	width: 190px;
	height: 120px;
	border-radius: 5px;
}
.acg a {
	text-decoration: none;
}
.acg li h6 {
	color: #000;
	font-size: 16px;
	margin-top: 10px;
}
/*联系我*/
.contact {
	height: 400px;
	background: url(../images/bg.jpg) no-repeat 100%;
}
.contact .wrap {
	padding-top: 80px;
}
.contact h6 {
	color: #fff;
}
.contact img {
	width: 100px;
}
.contact ul {
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}
.contact li {
	cursor: pointer;
}
.code {
	position: relative;
}
.code span {
	display: block;
	position: absolute;
	float: left;
	top: -200px;
	left: -50px;
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.code span img {
	width: 200px;
}
.code:hover span {
	opacity: 1;
	top: -230px;
}
/*底部*/
footer {
	height: 150px;
	position: relative;
}
footer p {
	font-size: 16px;
	color: #777;
	text-align: center;
	line-height: 150px;
}