header
{
    display: block;

    width: 100%;
    margin: 0 auto;

    text-align: center;
}

header h1
{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}

.warpper {
	margin: 10px auto;
	width: 100%;
	text-align: center;
}

#newgameBtn
{
    font-family: Arial;

    display: block;

    width: 95%;
    margin: 0px auto;
    padding: 10px;

    text-decoration: none;

    color: white;
    border-radius: 10px;
    background-color: #8f7a66;
}

#newgameBtn:hover
{
    background-color: #9f8b77;
}

p
{
    font-family: Arial;
    font-size: 20px;

    margin: 20px auto;
}

#grid-container
{
    position: relative;

    width: 460px;
    height: 460px;
    margin: 0px auto;
    padding: 20px;

    border-radius: 10px;
    background-color: #bbada0;
}

.grid-cell
{
    position: absolute;

    width: 100px;
    height: 100px;

    border-radius: 6px;
    background-color: #ccc0b3;
}

.number-cell
{
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;

    position: absolute;

    text-align: center;

    border-radius: 6px;
}
